nav {
    color: rgb(0, 240, 160);
    background-color: rgb(75, 158, 158);
}

body{
    background-color: beige;

}

footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#players {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.card {
    margin: 25px;
    margin-left: 80px;
}

.pontuacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
}

.pontuacao_nome, #pontuacao_ponto1, #pontuacao_ponto2 {
    padding: 10px;
    text-align: center;
}

#pontuacao_ponto1, #pontuacao_ponto2 {
    font-size: 5em;
}
