nav {
    color: rgb(0, 240, 160);
    background-color: rgb(75, 158, 158);
}

body{
    background-color: beige;

}

footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#players {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 25px;
    margin-left: 80px;
}

.pontuacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
}

.pontuacao_nome, .pontuacao_ponto {
    padding: 10px;
    text-align: center;
}

.pontuacao_ponto {
    font-size: 5em;
}

.pontuacao_controle {
    display: flex;
}

.pontuacao_controle_botao {
    flex-grow: 1;
    border: none;
    background-color: #eee;
    cursor: pointer;
    font-size: 1.2em;
}

.pontuacao_controle_botao:hover {
    background-color: aquamarine;
}

.pontuacao_controle_botao:active {
    background-color: chartreuse;
}
